# TRAEFIK_DASHBOARD_CREDENTIALS="user:password"
INFOMANIAK_ACCESS_TOKEN="asdf"

SHLINK_UI_FQDN="shlink.services.domain.com"
SHLINK_DB_NAME="shlink"
SHLINK_DB_USER="shlinkuser"
SHLINK_DB_PASSWORD="MySafeShlinkPassword12345"
SHLINK_GEOLITE_LICENSE_KEY="asdf"
SHLINK_INITIAL_API_KEY="my-safe-init-access-key"
SHLINK_SERVER_FQDN="l.domain.com"
SHLINK_SERVER_URL="https://l.domain.com"

INVOICEPLANE_HOST="https://invoiceplane.services.domain.com"
INVOICEPLANE_DB_NAME="invoiceplane"
INVOICEPLANE_DB_USER="invoiceplaneuser"
INVOICEPLANE_DB_PASSWORD="MySafeInvoicePlanePassword12345"

PORTAINER_BASE_URL="https://portainer.01.nodes.domain.com"

BACKUP_S3_HOST="https://sos-ch-dk-2.exo.io"
BACKUP_S3_REGION="ch-dk-2"
BACKUP_S3_BUCKET_NAME="my-backup-bucket"
BACKUP_S3_KEY_ID="EXasdf"
BACKUP_S3_ACCESS_KEY="asdf"



