TRAEFIK_DASHBOARD_CREDENTIALS="user:password"
INFOMANIAK_ACCESS_TOKEN="asdf"
# For testing
# CA_SERVER="https://acme-staging-v02.api.letsencrypt.org/directory"
# For production
CA_SERVER="https://acme-v02.api.letsencrypt.org/directory"

ALLOWED_DYN_DNS="home.domain.com"

GITHUB_CONTAINER_REGISTRY_USERNAME="your-username"
GITHUB_CONTAINER_REGISTRY_PASSWORD="asdf"
BACKUP_S3_HOST="https://sos-ch-dk-2.exo.io"
BACKUP_S3_REGION="ch-dk-2"
BACKUP_S3_BUCKET_NAME="your-backup-bucket-name"
BACKUP_S3_KEY_ID="asdf"
BACKUP_S3_ACCESS_KEY="asdfasdf"

DB_CLUSTER_ROOT_PASSWORD="root"
INVOICEPLANE_DB_PASSWORD="MySafeInvoicePlanePassword12345"
SHLINK_DB_PASSWORD="MySafeShlinkPassword12345"

SHLINK_UI_FQDN="shlink.services.domain.com"
SHLINK_SERVER_FQDN="l.domain.com"
SHLINK_SERVER_URL="https://l.domain.com"
SHLINK_GEOLITE_LICENSE_KEY="asdf"
SHLINK_INITIAL_API_KEY="asdf"

INVOICEPLANE_HOST="https://invoiceplane.services.domain.com"
INVOICEPLANE_FQDN="invoiceplane.services.domain.com"

PORTAINER_BASE_URL="https://portainer.01.nodes.domain.com"
